<section style="width:70%;float: left;">
  <app-data-container></app-data-container>
</section>

<section style="width:30%;float: left;text-align: center;">
  <mat-chip-list style="flex-direction: column;">
    <mat-chip [ngStyle]="{'border':(FILTERSTATE.type==='Brand') ? '1px solid red' : 'none'}" (click)="filter('Brand')">Brand</mat-chip>
    <br/>
    <mat-chip [ngStyle]="{'border':(FILTERSTATE.type==='Department') ? '1px solid red' : 'none'}" (click)="filter('Department')">Department</mat-chip>
    <br/>
    <mat-chip [ngStyle]="{'border':(FILTERSTATE.type==='Category') ? '1px solid red' : 'none'}" (click)="filter('Category')">Category</mat-chip>
  </mat-chip-list>
</section>

<div class="button-row">
  <button (click)="getData()" mat-raised-button color="primary">Primary</button>
</div>
